* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
  cursor: pointer;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

a {
  text-decoration: none !important;
}

#preloader{
  width: 100%;
  height: 100vh;
  background: #e6e9ed url(../img/shop.gif)no-repeat center;
  position: fixed;
  z-index: 9999;
  background-size:300px ;
}

.menu{
	
	position: sticky;
	top: 0px;
	z-index: 100;
  
}

body {
  background-color: #f9f3f0;
}

.top-header {
  width: 100%;
  height: 30px;
  background: #f9f3f0;
  line-height: 30px;
}

select,
option {
  border: none;
  background: none;
}

.accounts {
  display: flex;
  justify-content: end;
}

.accounts ul li {
  display: inline-block;
  padding: 0 10px;
}

.accounts ul li a {
  color: #000;
  display: inline-block;
}

.navbar {
  height: 80px;
  box-shadow: 0px 15px 10px -15px #111 inset;
  box-shadow: 0px -15px 10px -15px #111 inset;  

  margin: 10px 0;

  background: #fff;
  border: 1px solid #0002;
  border-radius: 10px;
 
}

.bg-light {
  background-color: #fff !important;
}

.likes {
}

.navbar ul li {
  padding: 0 20px;
}

.navbar ul li a {
  font-size: 17px;

  color: #000 !important;
}

.likes ul li {
  display: inline-block;
  font-size: 18px;
  padding: 0 5px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;

  border-radius: 50%;
}

.likes {
  display: flex;
  position: relative;
}

.likes ul li:hover {
  background: red;
  transition: 0.5s;

  color: #fff;
}

.catagories {
  margin-bottom: 7rem;
}

.carousel-caption {
  position: absolute;
  top: 40%;
  right: 60% !important;
  display: flex;
  justify-content: start;
  align-items: center;

  color: #000 !important;
}

.carousel-caption h5 {
  font-size: 45px;
  text-align: left;
}

.carousel-caption p {
  text-align: left;
  font-size: 20px;
}

.carousel-caption button {
  text-align: left;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  padding: 0;
  margin-right: 15%;
  margin-bottom: 1rem;
  margin-left: 15%;
  list-style: none;
  color: red;
}

.title h4 {
  color: red;
}

.title p {
  font-weight: bold;
  font-size: 45px;
}

.card h2 {
  font-size: 18px;
  padding-top: 10px;
}

.card {
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 30px;
}

.card:hover img {
  transform: scale(0.9);
  transition: 0.5s;
  color: #f6f7fb;
}

.headphone {
  width: 100%;
  min-height: 500px;
  background-color: #f6f7fb;
  padding-left: 3rem;
  margin-top: 300px;
}

.h-left {
  padding: 5rem;
  float: left;
}

.h-left ul li {
  width: 80px;
  height: 80px;
  font-size: 15px;
  background-color: #fff;
  text-align: center;
  display: inline-block;
  padding: 20px;
  border-radius: 50%;
  margin-right: 20px;
  box-shadow: 0 0 1px 0px #0006;
  font-weight: bold;
}

.h-right img {
  padding: 20px;
}

.h-left button {
  margin: 2rem 0 0 1rem;
  padding: 1rem 2rem;
  font-size: 20px;
  font-weight: bold;
}

.product {
  box-sizing: border-box;
  margin-top: 10px;
}

.p1 {
  position: relative;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  overflow: hidden;
}

.p1-content {
  position: absolute;
  bottom: 10%;
  /* text-align: center; */
  transform: translateY(200px);
}

.p1:hover .p1-content {
  transform: translateY(0);
  transition:  all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.p1-content ul li {
  display: inline-block;
  padding: 0 8px;
}

.p1-content ul li:nth-child(odd):hover {
  background-color: red;
  transition: 0.5s;
}

.p1-content ul li:nth-child(odd) {
  background-color: #fff;
  padding: 5px 10px 7px 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.75);
}

.p1-section {
  /* text-align: center; */
  padding: 10px 20px 20px 20px;
}

.p1-section ul li {
  display: inline-block;
}

.p1-section h6 {
  font-size: 20px;
}

.fa-star:before {
  content: "\f005";
  color: yellow;
}

.p1:hover img {
  transform: scale(1.1);
  transition: 0.5s;
}

input[type="radio"]#yellow {
  accent-color: green;
}

input[type="radio"]#Green {
  accent-color: red;
}

input[type="radio"]#auto {
  accent-color: grey;
}

.owl-theme .owl-dots,
.owl-theme .owl-nav {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
  font-size: 25px;
}

.owl-nav span {
  padding: 2px 10px 7px 10px;
  background-color: #fff;
  border-radius: 5px;
  color: #000;
  box-shadow: 0 0 1px 0px #000;
  font-size: ;
}

.owl-dots {
  display: none;
}

.p1-section h5 {
  padding: 10px 0;
}

.gradient-custom {
  background: radial-gradient(50% 123.47% at 50% 50%, #00ff94 0%, #720059 100%),
    linear-gradient(121.28deg, #669600 0%, #ff0000 100%),
    linear-gradient(360deg, #0029ff 0%, #8fff00 100%),
    radial-gradient(100% 164.72% at 100% 100%, #6100ff 0%, #00ff57 100%),
    radial-gradient(100% 148.07% at 0% 0%, #fff500 0%, #51d500 100%);
  background-blend-mode: screen, color-dodge, overlay, difference, normal;
}
.carousel-indicators {
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.p-img img {
  border-radius: 50%;
}

.p {
  position: relative;
}

.p-content {
  position: absolute;
  top: 15%;
  right: 0%;
  background-color: #0d6efd;
  padding: 2px 10px;
  color: white;
  font-weight: bold;
  border-radius: 10px;
}

.products {
  text-align: center;
}

.m {
    width: 100%;
    min-height: 150px;
  
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  /* background-color: #f6f7fb; */
  overflow: hidden;
  margin-bottom: 20px;
}
.m:hover {
   
  box-shadow: 0 0 2px 0 #0006;
 
}

.m-img,
.m-content {
  float: left;
  padding: 5px 15px;
}

.m-content h5 {
  padding: 10px 0;
}

.m-content ul li {
  display: inline-block;
}

.m-b{
    padding: 10px  0 0 0;
}

.m-b ul li {
    background-color: #fff;
    padding: 10px 15px;
    margin: 7px 0;
    border-radius: 10px;
    box-shadow: 0 0 1px 0 #0006;
    
}

.m-b ul li:hover {
   background-color: red;
   color: #fff;
}

.m-img{
    overflow: hidden;
    
}
.m-img:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

.why {
    text-align: center;
    /* border: 2px solid #000; */
    padding: 30px;
    background-color: #f6f7fb;
    border-radius: 15px;
    margin: 20px 0 0 0;
}

.why img{
    margin-bottom: 10px;
}

.why:hover {
   box-shadow: 0 0 2px 0 #0006;
}

.why h5{
    font-size: 15px;
    padding: 20px 0 0 0;
}

.pr1{
    position: relative;
}

.pr1-content{
    position: absolute;
    top: 20%;
    right: 20%;
    color: #fff;
}

.pr1-content a{
    color: #fff;
}

.pr1{
    overflow: hidden;
    margin-bottom: 20px;
}

.pr1:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}

/*  */

.pr2{
    position: relative;
}

.pr2-content{
    position: absolute;
    top: 20%;
    left: 10%;
    color: #fff;
}

.pr2-content a{
    color: #fff;
}

.pr2{
    overflow: hidden;
}

.pr2:hover img{
    transform: scale(1.1);
    transition: 0.5s;
}


.newsletter{
    width: 100%;
    min-height: 400px;
    background: url(../img/bg-image-5.jpg)center no-repeat;
    border-radius: 10px!important;
    padding: 30px 0 0 100px;
}


.newsletter input {
    padding-left: 66px;
    width: 390px;
    height: 45px;
    border: none;
}

.newsletter button{
    width: 150px;
    height: 46px;
    background-color: red;
    text-align: center;
    border: none;
    font-size: 20px;
    font-weight: bold;
}

.s{
    display: flex;
    align-items: center;
    justify-content: center;
}

.s-content{
    padding: 7px 0 0 15px;
}

.s-content h6{
    font-weight: bold;
}

.support ul li{
    padding: 8px 0;
}

.support h4{
    font-weight: bold;
    padding-bottom: 20px;
}

.support img{
    float: left;
    margin: 7px;
}


.bank ul li{
    display: inline-block;
    margin: 0 10px;
}


